@font-face {
	font-family: 'haboro-sans';
	src: url('./fonts/haborosansnormregular-webfont.woff2') format('woff2'),
		url('./fonts/haborosansnormregular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	padding: 2% 1%;
	font-family: 'haboro-sans';
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

header {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	padding-bottom: 1%;
	border-bottom: 1px solid #e6e6e6;
}

.brand {
	display: flex;
}

.brand img {
	width: 250px;
}

.title h1 {
	color: #63cdfc;
	font-weight: lighter;
}

.title p {
	font-size: 18px;
	color: #737373;
}

.user {
	display: inline-flex;
}

.user h1 {
	margin: auto 0.2em 0 0;
	font-size: 1.9em;
	font-weight: lighter;
	color: #737373;
}

.user h1.welcome {
	color: #63cdfc;
	font-weight: lighter;
}

.user img {
	margin: auto 0 1% 0;
	width: 50px;
	height: 50px;
}

main {
	display: flex;
	justify-content: space-between;
	padding: 2% 0 0 2%;
}

.sidebar div:not(:first-child) {
	margin-top: 20%;
}

.sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sidebar ul li {
	color: #8d8d8d;
	margin: 2% 0;
	cursor: pointer;
}

.sidebar div h2 {
	font-size: 1em;
}

.view-more {
	color: #00b0fd;
	font-size: 0.85em;
}
.view-more:hover {
	cursor: pointer;
	text-decoration: underline;
}

.search-add {
	margin-top: 2%;
	display: grid;
	grid-template-columns: auto auto;
}

form {
	display: flex;
	align-items: center;
}

.clear {
	height: 100%;
	padding: 0.4em 1.5em;
	margin-left: 20%;
	margin-right: 7.5%;
	background: #68bb00;
	border: none;
	color: #fff;
}

.clear:hover {
	background: #55bb00;
}

.clear:active {
	background: #7bbb00;
}

label {
	margin-right: 1%;
}

.search-container {
	position: relative;
}

.search-icon {
	position: absolute;
	left: 3%;
	top: 20%;
	text-align: center;
}

#search-field {
	padding-left: 20%;
	width: 140%;
	height: 25px;
	border: 1px solid #737373;
}

#filters {
	height: 30px;
	width: 20%;
	color: #737373;
	border: 1px solid #737373;
}

.add-employee-btn {
	border: none;
	margin-left: auto;
	height: 100%;
	padding: 0.4em 1.8em;
	background: #00b0fd;
	color: #fff;
}

.add-employee-btn:hover {
	background: #00c9fd;
}

.add-employee-btn:active {
	background: #0097fd;
}

.alphabets {
	display: inline-block;
}

.alpha-btn {
	width: 2em;
	height: 2em;
	font-size: 20px;
	padding: 0;
	align-items: center;
	text-align: center;
	margin: 2px 0;
	border: none;
	background: #00b0fd;
	color: white;
}

.alpha-btn:hover {
	background: #00c9fd;
}

.alpha-btn:active {
	background: #0097fd;
}

.note {
	margin: 1% 0;
	color: #737373;
	font-size: 0.8em;
}

.note span {
	color: #000;
}

.employee-list {
	padding: 1.5%;
	height: 85%;
	overflow-y: scroll;
	border: 1px solid #737373;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 110px;
	grid-gap: 1%;
}

.employee {
	display: flex;
	background: #e8e9e8;
	align-items: center;
	padding: 0.5em;
	margin-bottom: 10px;
	cursor: context-menu;
}

.employee:hover {
	background: #d1d2d1;
}

.employee img {
	height: 80px;
	width: 80px;
}

.employee-details {
	margin-left: 2%;
	overflow: hidden;
}

.employee-details h3 {
	color: #6f6c6d;
	font-size: 1em;
}

.employee-details p {
	font-size: 0.9em;
	color: #a9a8a8;
}

.employee-details .icons ion-icon {
	color: #a9a8a8;
}

.backdrop {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.5);
}

.detail-backdrop {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.5);
}

.details {
	margin: 3% auto 0 auto;
	width: 20%;
	height: fit-content;
	padding: 1% 1% 0.5% 1%;
	background: #e8e9e8;
	position: relative;
}

.details img {
	width: 100%;
}

.detail {
	display: flex;
	justify-content: start;
	align-items: center;
	margin: 5px 0 0 5px;
}

.detail h3 {
	font-size: 0.9em;
}

.details h1 {
	text-align: center;
}

.detail p {
	font-size: 1em;
	margin-left: 3px;
}

.details-button-group {
	margin: 4% 0 2% 0;
	display: flex;
	justify-content: center;
}

.edit {
	background: #0097fd;
	border: none;
	padding: 2% 8%;
	color: #fff;
	margin: 0 5%;
}

.edit:hover {
	background: #00c9fd;
}

.edit:active {
	background: #0097fd;
}

.delete {
	background: #eb118e;
	color: #fff;
	border: none;
	padding: 2% 8%;
	margin: 0 5%;
}

.delete:hover {
	background: #eb11a4;
}

.delete:active {
	background: #eb1178;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.new-employee {
	margin: 3% auto 0 auto;
	display: flex;
	flex-direction: column;
	width: 40%;
	justify-content: space-around;
	background: #fff;
	padding: 2% 0 1% 0;
	border: 1px solid #737373;
}

.new-employee label {
	margin: 0 auto 1% 14%;
	font-weight: bold;
}

.new-employee select {
	margin: 0 auto 1% 14%;
	width: 50%;
	height: 20px;
}

.new-employee input {
	width: 70%;
	margin-bottom: 2%;
	border: 1px solid #737373;
	height: 20px;
}

.button-group {
	width: 50%;
	display: flex;
	justify-content: space-around;
}

.button-group .submit {
	margin-top: 1%;
	background: #0097fd;
	color: #fff;
	border: none;
	padding: 3% 8%;
}

.submit:hover {
	background: #00c9fd;
}

.submit:active {
	background: #0097fd;
}

.button-group .cancel {
	background: #eb118e;
	color: #fff;
	border: none;
	padding: 3% 8%;
}

.button-group .cancel:hover {
	background: #eb11a4;
}

.button-group .cancel:active {
	background: #eb1178;
}

@media only screen and (max-width: 1290px) {
	.title h1 {
		font-size: 1.7em;
	}

	.title p {
		font-size: 1em;
	}

	.user h1 {
		font-size: 1.7em;
	}

	.employee-details h3 {
		font-size: 0.9em;
		margin-bottom: 2px;
	}

	.employee-details p {
		font-size: 0.75em;
		margin-bottom: 1px;
	}

	main {
		padding-left: 0;
	}

	.sidebar {
		width: 25%;
	}

	.search label {
		width: 100px;
	}

	#filters {
		width: 30%;
	}

	.details {
		width: 25%;
	}
}

@media only screen and (max-width: 1220px) {
	.employee-list {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.employee-details {
		margin-left: 1em;
	}

	.sidebar {
		width: 30%;
	}

	.new-employee {
		width: 60%;
		margin-top: 1%;
	}

	.details {
		width: 30%;
		margin-top: 1%;
	}
}

@media only screen and (max-width: 1020px) {
	.sidebar {
		width: 40%;
	}

	.employee-list {
		grid-template-columns: 1fr 1fr;
	}

	.employee-details h3 {
		font-size: 1.1em;
	}

	.employee-details p {
		font-size: 1em;
	}

	.brand img {
		width: 200px;
	}

	header {
		display: block;
	}

	.brand {
		display: block;
		text-align: center;
	}

	.user {
		display: grid;
		grid-template-columns: auto auto auto;
		justify-content: center;
	}

	main {
		display: block;
	}

	.sidebar {
		width: 100%;
		display: flex;
		justify-content: space-around;
		margin-bottom: 5%;
	}

	.sidebar div:not(:first-child) {
		margin-top: 0;
	}

	.view-more {
		display: none;
	}

	.employee-list {
		height: 75vh;
	}
}

@media only screen and (max-width: 920px) {
	.details {
		width: 40%;
	}
}

@media only screen and (max-width: 750px) {
	.details {
		width: 50%;
	}

	.new-employee {
		width: 80%;
	}
}

@media only screen and (max-width: 600px) {
	.employee-list {
		grid-template-columns: 1fr;
	}

	.search-add {
		display: block;
		text-align: center;
	}

	.clear {
		margin-left: 15%;
		margin-right: 5%;
	}

	.add-employee-btn {
		margin-top: 2%;
	}

	.details {
		width: 60%;
	}
}

@media only screen and (max-width: 480px) {
	.sidebar {
		flex-direction: column;
		text-align: center;
	}

	.search {
		display: inline;
	}

	#search-field {
		width: 70%;
		padding-left: 5px;
		margin-bottom: 1%;
	}

	.clear {
		margin: 0 5%;
	}

	.user h1 {
		font-size: 1.3em;
	}

	.details {
		width: 70%;
		margin-top: 5%;
	}

	.new-employee {
		width: 90%;
		margin-top: 5%;
	}
}
